.swiper-button-prev,
.swiper-button-next {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 18px;
    font-weight: bold;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}