.news-wrapper {
    display: flex;
    /* align-items: center; */
    margin: 50px auto;
    max-width: 1440px;
    width: 100%;
    /* border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color); */

}