:root {
    --primary-color: #fff;
    --text-color: #252525;
    --text-lighter: #8F8F8F;
    --text-active: #FF474F;
    --text-error: #FF5F5F;
    --background: #F5F5F5;
    --item-background: #E6ECED;
    --border-color: #D9D9D9;
    --border-active: #557C83;
    
    --primary-text-size: 16px;
}

.dark-mode {
    --primary-color: #333;
    --text-color: #f5f5f5;
    --text-lighter: #c5c5c5;
    --text-active: #FF474F;
    --background: #121212;
    --item-background: #1c1c1c;
    --border-color: #333;
    --border-active: #444;
}
